@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarcont{
    animation: slideright 0.5s forwards;
}
@media (min-width: 768px) {
    .navbarcont{
        animation: none;
        width: 10rem;
    }
}
@keyframes slideright{
  0% {
    width: 0px;
  }
  100%{
    width : 66.666667%;
  }
}
label{
  font-size: 24px;
  font-weight: 700; 
  cursor: pointer; 
  color: #525d6f; 
  opacity: .4; 
  transition: opacity .4s ease-in-out;
  display: block; 
  width: calc(100% - 48px) ;
  text-align: left; 
  z-index: 100; 
  user-select: none;
}
input[type="radio"]{
  display: none;
  width: 0;
}
label:hover, input[type="radio"]:checked+label {
  opacity: 1; 
}
.popup{
  width: 60%;
  height: 80%;
  min-height: 480px; 
  max-height: 480px; 
  border-radius: 48px;
  box-sizing: border-box; 
  border: 16px solid #ebf0f4;
  background-color: #dfe6ed;
  overflow: hidden;
  box-shadow: 16px 16px 48px #2e364330; 
}
.tabs{
  width: 100%;
  max-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
  position: relative;
}
.marker{
  position: absolute; 
  width: 100%;
  height: 200%;
  display: flex; 
  flex-direction: column;
  top: calc(-100% );
  left: 0;
  transition: transform .2s ease-in-out; 
}
.marker #bottom, .marker #top{
  background-color: #ebf0f4;
  box-shadow: 32px 32px 48px #2e364315; 
}
.marker #top{
  height: calc(50%);
  margin-bottom: auto; 
  border-radius: 0 0 32px 0; 
}
.marker #bottom{
  height: calc(50% - 72px);
  border-radius: 0 32px 0 0; 
}
#tab1:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 0));}
#tab2:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 1));}
#tab3:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 2));}
#tab4:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 3));}
#tab5:checked ~ .marker{transform: translateY(calc(calc(50% / 6) * 4));}
#tab6:checked ~ .marker{transform: translateY(calc(calc(51% / 6) * 5));}

.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}